:host {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 1;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  animation-name: fadeIn;
  animation-duration: .5s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  align-items: center;
  // box-shadow: 0 0 10px 0 ;

  mat-form-field {
    flex: 1 1;
    height: 36px;
    width: 100%;
  }

  mat-card-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    button {
      padding: 8px 0;
      height: 32px;
      flex: 1 1;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.005em;
    }
  }
}
