<mat-card [formGroup]="authForm">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <h2>Payment system</h2>

  <mat-form-field appearance="outline" class="form-field-rec">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="login">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field-rec">
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'">
    <button mat-icon-button matSuffix (click)="showPassword = !showPassword">
      <mat-icon>{{ showPassword ? "visibility_off" : "visibility"}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-card-footer>
    <button mat-stroked-button [disabled]="isLoading" (click)="login()">Авторизоваться</button>
    <button mat-stroked-button [disabled]="isLoading" (click)="redirectToRegister()">Зарегистрироваться</button>
  </mat-card-footer>
</mat-card>
