<mat-form-field appearance="outline" class="form-field-rec">
  <mat-label>Выберите счет</mat-label>
  <mat-select [formControl]="accountControl">
    <mat-option value="">Не выбрано</mat-option>
    <mat-option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close [disabled]="isLoading">Назад</button>
  <button mat-stroked-button [disabled]="isLoading" (click)="handlePayment()">Подтвердить</button>
</mat-dialog-actions>
