
<button mat-stroked-button class="add-btn" (click)="addAccount()">
  <mat-icon>add</mat-icon>
  Добавить счет
</button>

<button mat-stroked-button class="add-btn" (click)="openPaymentPopup()">
  <mat-icon>add_box</mat-icon>
  Пополнение счета
</button>

<button mat-stroked-button class="add-btn" (click)="openTransferPopup()">
  <mat-icon>money</mat-icon>
  Создать перевод
</button>

<div class="accounts-container">
  <table mat-table matSort [dataSource]="tableData">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер счета</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Наименование</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date : "dd.MM.YYYY" }}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Баланс</th>
      <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Валюта</th>
      <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="isBlocked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Активен</th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-icon [svgIcon]="!element.is_blocked ? 'i:block' : 'i:check_done'"></mat-icon> -->
        <mat-slide-toggle [checked]="!element.is_blocked" (change)="handleAccountStatusChange($event, element.id)"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editAccount(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>


<!-- <mat-paginator
  [length]="tableData.data && tableData.data.length"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20]"
  appearance="fill">
</mat-paginator> -->
