:host {
  background-color: #20353b;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

header {
  text-align: center;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;

  button {
    width: 200px;
  }
}
