
<button mat-stroked-button class="add-btn" (click)="addCredit()">
  Оформить кредит
  <mat-icon>add</mat-icon>
</button>

<button mat-stroked-button class="add-btn" (click)="payForCredit()">
  Оплатить кредит
  <mat-icon>account_balance</mat-icon>
</button>

<div class="credit-container">
  <table mat-table matSort [dataSource]="tableData">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Наименование</th>
      <td mat-cell *matCellDef="let element">{{ element.name | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date : "dd.MM.YYYY" | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="account_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Счет</th>
      <td mat-cell *matCellDef="let element">{{ element.account_id | getFromPool : accountPool | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="term">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Период</th>
      <td mat-cell *matCellDef="let element">{{ element.term | depositTerm | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="amount_given">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Сумма</th>
      <td mat-cell *matCellDef="let element">{{ element.amount_given | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="debt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Долг</th>
      <td mat-cell *matCellDef="let element">{{ element.debt | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="next_pay_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Следующая дата платежа</th>
      <td mat-cell *matCellDef="let element">{{ element.next_pay_date | date : "dd.MM.YYYY" | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="per_month_pay_sum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ежемесячная сумма платежа</th>
      <td mat-cell *matCellDef="let element">{{ element.per_month_pay_sum | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="penya">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Пеня</th>
      <td mat-cell *matCellDef="let element">{{ element.penya | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td mat-cell *matCellDef="let element">{{ element.status | creditStatus | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="payment_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Тип платежа</th>
      <td mat-cell *matCellDef="let element">{{ element.payment_type | creditPaymentType | ph }}</td>
    </ng-container>

    <ng-container matColumnDef="is_notification_enabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Уведомления</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [svgIcon]="!element.is_notification_enabled? 'i:block' : 'i:check_done'"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>


<!-- <mat-paginator
  [length]="tableData.data && tableData.data.length"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20]"
  appearance="fill">
</mat-paginator> -->
