
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tofi-primary: mat.define-palette(mat.$indigo-palette);
$tofi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tofi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tofi-theme: mat.define-light-theme((
  color: (
    primary: $tofi-primary,
    accent: $tofi-accent,
    warn: $tofi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tofi-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #2C4A52;
  color: #F4EBDB;
}

button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  background-color: #537072 !important;
}

button {
  color: #F4EBDB !important;
}

input {
  color: #F4EBDB !important;
}

.form-field-rec {
  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #F4EBDB;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #F4EBDB;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #F4EBDB;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #F4EBDB;
    opacity: 0.8;
  }

  .mat-input-element {
    caret-color: #F4EBDB;
  }

  .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #F4EBDB;
  }

  .mat-form-field-label {
    color: #F4EBDB;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #F4EBDB;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #F4EBDB;
  }

  .mat-focused .mat-form-field-label {
    color: #F4EBDB;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: #F4EBDB;
  }

  --mdc-outlined-text-field-focus-outline-color: #F4EBDB;

  mat-label {
    color: #F4EBDB;
  }

  .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    color: #F4EBDB;
  }

  .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
}

mat-progress-bar {
  background-color: #8E9B97;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #2C4A52 !important;
}
